<h1>Your address</h1>
<h3>Name: {{.Name}}</h3>
<h3>Line 1: {{.AddressLine1}}</h3>
<h3>Line 2: {{.AddressLine2}}</h3>
<h3>City: {{.AddressCity}}</h3>
<h3>State: {{.AddressState}}</h3>
<h3>Zip: {{.AddressZip}}</h3>
<h3>Country: {{.AddressCountry}}</h3>